@page
@model Project_zarzadzanie_studentami.Pages.Subjects.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].TypeOfSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].TypeOfPass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfPass)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
